#
# Copyright (c) 2014, Oracle and/or its affiliates. All rights reserved.
#
#    AUTHOR
#      chandrashekhar.vaishnav@oracle.com
#
#    DESCRIPTION
#	Specifies intentionally untracked files to ignore with git
#
#    NOTES
#	File is maintained in two parts:
#		(1) Files/File-pattern to ignore
#		(2) Directories to ignore
#	Keep the file in alphabetical order
#

##############################
# Files/File-pattern to ignore
##############################
*.7z
*.bak
*.bz2
*.bzip
*.cab
*.class
*.com
*.deb
*.dll
*.dmg
*.ear
*.egg
*.exe
*.gem
*.gz
*.idea
*.ids
*.iml
*.ipr
*.iso
*.iws
*.jar
*.launch
*.lck
*.lzma
*.msi
*.msm
*.msp
*.o
*.orig
*.rar
*.rej
*.rpm
*.so
*.spec.mod
*.sublime-*
*.swp
*.tar
*.tmp
*.un~
*.war
*.xpi
*.xz
*.zip
*.jtl
*~
*~.nib

.buildpath
.classpath
.cproject
.directory
.DS_Store*
.gradle
.hidden
.jslint.*
.loadpath
.m2
.metadata
.netrwhist
.nfs*
.project
.svn
.target
.texlipse
.#*

atlassian-ide-plugin.xml
create_plugin*.log
DIFFS.txt
distfiles
ehthumbs.db
gradle-app.setting
hs_err_pid*
Icon?
local.properties
make.state
osp.err
osp.log
osp.properties
OUTPUT.txt
plugin_validation_report_*.xml
rcu.log
Session.vim
Thumbs.db
runJetty.log
runJettyErr.log
jmeter.log

########################################
# Directory/Directory pattern to ignore
########################################
.ade_path/
.data/
.DS_Store/
.externalToolBuilders/
.gradle/
.hg/
.hgtags/
.mtj.tmp/
.nb-gradle/
.settings/
.sonar/
.svn/

bin/
build/
classes/
CVS/
deploy/
generated/
gitonly/sidekick/output/
maven-home/
nbproject/
target/
test-coverage/
test-output/
test-reports/
tmp/
Tomcat/
work/

# APMS Specific Information follows

# ignore agent logs directory
# (created when running tests manually under debugger)
apmagent/logs

# intellij compile output
out

# ignore UI files in the expanded jet directory
ui/apmUi/web/apm/@version@/jet/
ui/apmUi/web/jet

# ignore UI files in the expanded font-awesome directory
ui/apmUi/web/apm/@version@/fa/
ui/apmUi/web/fa

# ignore UI generated resource bundles
ui/apmUi/web/apm/@version@/js/resources/nls/main.js
ui/apmUi/web/apm/@version@/js/resources/nls/*/main.js

# ignore UI files generated by jdeveloper
ui/**/classes/
ui/**/*.jdb
ui/**/*.lck
ui/**/META-INF/

# ignore UI files generated by NetBeans
ui/**/private/

/ui/apmUi/dist/

# ignore NetBeans project files
*.nb-gradle-properties
.nb-gradle/

# Ignore files generated by the compass plugin or other SASS/SCSS/Compass artifacts
.jruby/
.sass-cache/


# ignore generated probe code
**/probe/**/generated

# The gradle wrapper jar file seems to be an exception
!gradle/wrapper/gradle-wrapper.jar

# We ignore the deploy-list.xml since it's generated by deploy-list-template.xml
deploy-list-*.xml
!deploy-list-*-template.xml

# Ignore the .desc files generated by the Generic Test Framework (under :agent:testFwk)
agent/testFwk/**/*.desc

# Ignore test files generated during s1/s2 tests
common/utility/temp*
server/receiver/file*.txt

# Ignore xml files generated by emPluginUtil test cases
server/emPluginUtil/src/test/resources/*/*.xml

# Ignore temporary test files
common/utility/temp*
server/receiver/file*txt

# Ignore iOS files generated by Xcode
*.xcbkptlist
sampleApps/simpleJDBC/src/main/webapp/WEB-INF
sampleApps/crossdomain-weblogic/src/main/resources/properties.txt
agent/ios/APMMobileAgent/APMMobileAgent/apm.plist
agent/ios/APMMobileAgent/APMMobileAgent/emaasOhs.cer
agent/ios/APMMobileAgent/APMMobileAgent/AgentHttpBasic.properties
agent/ios/APMMobileAgent/APMMobileAgent/AgentStartup.properties
agent/testFwk/iosTest/instrumentscli*.trace
# include osb12cProject jar file
!sampleApps/gtf-osb12c/osb12cProjects/lib/*.jar

# more intellj data source stuff
.ideaDataSources

# ignore jetty files
agent/uatf/jetty-distribution-9.2.5.v20141112/

# ignore jmeter files
agent/uatf/apache-jmeter-2.9/

# ignore all logs files
agent/uatf/*.log
agent/uatf/uatf-servlet-tomcat/*.log

# ignore all desc files
agent/uatf/*.desc
agent/uatf/uatf-servlet-tomcat/*.desc
